$bgcolr:rgb(44, 21, 21);
$licolor:rgb(236, 232, 232);
$ulbgcolor:bisque;
$ancrecolor:#CCC;
$hovercolor:rgb(238, 164, 164);
$bglicolr:#fff;
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
		background-color: $bgcolr;
		ul{
			list-style: none;
			width: 100%;
			li{
				color:$licolor;
				font-size: 1rem;
				a{
					display:block;
					height: 100%;
					width: 100%;
					padding: 10px 0;
					&:hover{
						color:rgb(235, 18, 18);
						background-color:$bglicolr;
					}
				}
			}	
		}
		.showInfo{
			margin:  10px auto;
			border-radius: 20px;
			box-shadow: 3px 0 4px #fff;
			min-height: 10vh;
			width: fit-content;
			padding: 10pX 40pX 0;
			img{
			border:5px solid #fff;
			border-radius: 50%;
			width: 150px;
			height: 150px;
			padding: 10pX;
			background-color: #ccc;
			margin-bottom: 20px;
			transition: all .3s ease-in-out;
			}
			img:hover{
			border:5px solid #ccc;
			background-color: #fff;
			transform: rotate(20deg);			
			}
			h1,h2,h3,h4{
			font-size: 1rem;
			color:#c0f;
			width: fit-content;
			transition: all .3s ease-in-out;
		}
		h1:hover,h2:hover,h3:hover,h4:hover{
			font-size: 1.4rem;
			color:#fff;

		}
		}
		}
@media (max-width:770px){
			ul{
			width: fit-content;
			li{
				font-size: 1.1em;
				width: 100%;
				a{
					display:block;
					height: 100%;
					width: 100%;
					padding: 10px 0;
					&:hover{
						color:rgb(235, 18, 18);
						background-color:$bglicolr;
					}
				}
			}	
		}
			.showInfo {
			font-size: .7rem;
			box-shadow:-7px 12px 5px 5px #000;
			color:rgb(14, 15, 3);
		}
			.showInfo h3 {
				width:fit-content;
				img{
					width:100%;
					border-radius: 10px;
					margin-bottom: 20px;
					padding: 0px;

				}
				h1,h2,h3,h4{
					color:rgb(29, 213, 226);

				}
		
		}
		}
